<h1>About Us</h1>
<h5>Hey bud!</h5>
<h5>It's great to hear music as the artist intended it to be heard, this means Spotify can sometimes include explicit content.
</h5>
<h5>We recommend looking out for the EXPLICIT tag on any releases (E on the web player).</h5>
<h5>Note: Our explicit content tags are applied based on information we receive from rights-holders. This means we can’t guarantee all explicit content is marked as such.</h5>
<h5>It's also now possible to use the Explicit content filter on mobile and tablet devices (more devices coming soon!). Right now, the setting is only for the individual account and device. If you do apply the setting on your phone, it doesn't filter explicit content for the same account on the desktop app. It also doesn’t apply if you use Spotify Connect to play to another device. For more information on this, check out this support article.</h5>
<h5>We'll keep you up-to-date if there's anything else to share!</h5>
<h5> Thanks!</h5>
<style>
  h1{text-align: center;}
  h1{text-size-adjust: 30;}
  h5{text-size-adjust: 20;}



</style>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXNCjSiv3OfiBOcIzmAieLy83v4J6cS-keUg&usqp=CAU">
