
<h1>HOMEPAGE</h1>
<h5 class="text-primary">WELCOME TO MY MUSIC. YOU WANT TO FIND MUSIC?? THIS IS THE PLACE TO SEARCH. <h5>
  <h5 class="text-primary">IN THIS SITE WE HAVE:</h5>
      <p>ROCK SONGS</p>
      <p>REGGAE SONGS</p>
      <p>BALADA SONGS</p>
      <h5 class="text-primary">THIS IS THE EXAMPLES OF THE SONGS</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type Songs</th>
        <th scope="col">ROCK SONGS</th>
        <th scope="col">REGGAE SONGS</th>
        <th scope="col">BALADA SONGS</th>
      </tr>
    </thead>

  <tr class="table-warning">
    <th scope="row">1</th>
    <td>AMERICAN GIRLS</td>
    <td>SUN IS SHINING</td>
    <td>THE POWER OF LOVE</td>
  </tr>
  <tr class="table-warning">
    <th scope="row">2</th>
    <td> Blackrose - Penantian</td>
    <td>Dangdut Reggae Zaleha Hamid</td>
    <td>Di Matamu Sufian Suhaimi</td>
  </tr>
    <style>
        h1{text-align: center;}
        h1{text-size-adjust: 30;}
        h5{text-align: distribute-all-lines;}
        h5{text-size-adjust: 20;}
        h5{text-align: center;}


    </style>
  <img src="https://upload.wikimedia.org/wikipedia/en/5/5d/American_Girl_-_Tom_Petty.jpg">
